* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
.container {
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.resultEle {
  font-size: 40px;
  text-align: right;
  margin-bottom: 10px;
}
.calcBtns {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #8490ff;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  margin-left: 12px;
}
.btn-zero {
  width: 155px;
  border-radius: 20px;
  height: 40px;
  font-size: 25px;
}
.btn-clear {
  border-radius: 25px;
  width: 100px;
  height: 45px;
}
.btn-equal {
  margin-left: 20px;
}
.btn-num {
  background-color: #212638;
  margin-left: 10px;
}
